.nowrap {
    white-space: nowrap;
}

.normalwrap {
    white-space: normal;
}

.select2-container--default .select2-results > .select2-results__options {
    overflow-y: scroll !important;
    max-height: 500px !important;
    overflow-x: hidden !important;
}

@media (min-width: 768px) {
    .stick-bottom-md {
        position: absolute;
        bottom: 0;
    }
}

a.nostyle:link {
    text-decoration: inherit;
    color: inherit;
}

a.nostyle:visited {
    text-decoration: inherit;
    color: inherit;
}
