# Requirements are split to minimize rebuilding layers.
# Move all of the stuff here to -base on every major update
scrapy_proxies==0.4
proxybroker==0.3.2
pymystem3==0.2.0
bert-serving-client==1.10.0
llvmlite==0.32.1
lemminflect==0.2.1
telethon==1.16.4
aiohttp==3.6.2
python-slugify==3.0.2
vk==2.0.2
google-api-python-client==1.12.3
oauth2client==4.1.3
youtube-data-api==0.0.20
django-redis==4.10.0
latex==0.7.0
plotly==4.6.0
djangorestframework-jwt==1.11.0
django==2.2.13
