# Requirements are split to minimize rebuilding layers.
# Move all of the stuff here to -base on every major update
scrapy_proxies==0.4
proxybroker==0.3.2
pymystem3==0.2.0
bert-serving-client==1.10.0
numba==0.49.1
llvmlite==0.32.1
attrs==19.3.0
