django==2.2.4
django-annoying==0.10.4
django-debug-toolbar==1.11
django-extensions==2.1.9
django-jet==1.0.8
django-picklefield ==2.0
django-registration-redux==2.6
django-stronghold==0.3.0
django-widget-tweaks==1.4.5
elasticsearch-dsl==7.0.0
psycopg2==2.8.3
redis==3.2.1
sentry-sdk==0.9.2
blinker==1.4
tqdm==4.35.0

textblob==0.15.3
