{% extends "base.html" %}
{% load cache %}
{% block title %}Документ{% endblock %}
{% block heading %}Документ{% endblock %}

{% block bc %}
    <li class="breadcrumb-item"><a href="/">NLPMonitor</a></li>
    <li class="breadcrumb-item active">Документ</li>
{% endblock %}

{% block content %}
    {% cache 28800 document_detail view.kwargs %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="card">
                    <div class="card-body">
                        {% if not error %}
                            <h5 class="card-title">{{ document.title }}</h5>
                            <p class="card-text"><b>Дата публикации</b>: {{ document.datetime }}</p>
                            <p class="card-text">
                                {{ document.text }}
                            </p>
                            <p class="card-text">
                                <b>JSON представление</b>
                                {{ document.to_dict }}
                            </p>
                        {% else %}
                            <h1>{{ error }}</h1>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
    {% endcache %}
{% endblock %}
