{% load serializers %}
{% load dictionary_getter %}

{% with widget.id|stringformat:"s" as widget_id %}
    {% with "dynamics_"|add:widget_id as dynamics_name %}
        {% get_by_name dynamics_name as dynamics %}
        <div id="dynamic_plots">
            <div class="dynamics-plot" id="valueDynamics_{{ widget.id }}"></div>
            <script>
                var selectorOptions = {
                    buttons: [{
                        step: 'month',
                        stepmode: 'backward',
                        count: 1,
                        label: '1m'
                    }, {
                        step: 'month',
                        stepmode: 'backward',
                        count: 6,
                        label: '6m'
                    }, {
                        step: 'year',
                        stepmode: 'todate',
                        count: 1,
                        label: 'YTD'
                    }, {
                        step: 'year',
                        stepmode: 'backward',
                        count: 1,
                        label: '1y'
                    }, {
                        step: 'all',
                    }],
                };

                var data = [
                    {
                        mode: 'lines',
                        x: [{% for tick in dynamics %}new Date('{{ tick.date }}'), {% endfor %}],
                        y: [{% for tick in dynamics %}{{ tick.value|round_fl:5|safe }}, {% endfor %}],
                        name: '{{ widget.criterion.name }}',
                    },
                ];
                var layout = {
                    title: '{{ widget.criterion.name }}',
                    xaxis: {
                        rangeselector: selectorOptions,
                        fixedrange: true
                    },
                    yaxis: {
                        fixedrange: true,
                        range: [{{ widget.criterion.value_range_from|safe }}, {{ widget.criterion.value_range_to|safe }}]
                    }
                };
                Plotly.newPlot('valueDynamics_{{ widget.id }}', data, layout, {responsive: true});
            </script>
        </div>
    {% endwith %}
{% endwith %}