{% load serializers %}
{% load dictionary_getter %}
{% block head %}
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
{%  endblock %}

{% with widget.id|stringformat:"s" as widget_id %}
    {% with "lat_lon_z_data_"|add:widget_id as geo_data %}
        {% get_by_name geo_data as geo %}
        {{ sorted_geo }}
        <h5><strong>Num of dots:</strong>  {{ coords_meta.0 }} </h5>
        <h5><strong>Buckets len:</strong>  {{ coords_meta.1 }}</h5>
        <h5><strong>After aggs execute len:</strong>  {{ coords_meta.2 }}</h5>
        <div id="geo-plots">
            <div class="geo-plot" id="geoMap_{{ widget.id }}"></div>
            <script>
                var data = [
                    {
                      lon: [{% for g in geo %}{{ g.1}}, {% endfor %}],
                      lat: [{% for g in geo %}{{ g.0}}, {% endfor %}],
                      radius:10,
                      z: [{% for g in geo %}{{g.2}}, {% endfor %}],
                      type: "densitymapbox",
                      coloraxis: 'coloraxis',
                      hoverinfo: 'skip'
                    }];
                var layout = {
                    mapbox: {center: {lon: 65, lat: 50}, style: "outdoors", zoom: 3},
                    coloraxis: {colorscale: "Jet"}, title: {text: "Geo Topic Modelling"},
                    width: 700, height: 600, margin: {l: 45,
                        r: 15,
                        b: 35,
                        t: 45,
                        pad: 5}};

                var config = {mapboxAccessToken: "pk.eyJ1Ijoic2Fuemhhcm1yeiIsImEiOiJjazh6dXZpMHIwbTAzM3FsNnVseTh3aHJ0In0.i2Ycpumv-EhdDvHBHt_48w"};

                Plotly.newPlot('geoMap_{{ widget.id }}', data, layout, config);
            </script>
        </div>
    {% endwith %}
{% endwith %}
