{% load dictionary_getter %}
{% load l10n %}
{% load static %}

<!-- data tables -->
<link rel="stylesheet" href="{% static 'adminlte/plugins/datatables-bs4/css/dataTables.bootstrap4.css' %}">
<!-- Chroma.js -->
<script src="{% static 'js_vendor/chroma.min.js' %}"></script>

<script>
    {% if widget.type == 2 %}
        var colorScale_{{ widget.type }} = chroma.scale(['#fee42c', '#23964f']).mode('lch').domain([0.5, 1]);
    {% elif widget.type == 5 %}
        var colorScale_{{ widget.type }} = chroma.scale(['#d3322b', '#fee42c']).mode('lch').domain([-1, -0.5]);
    {% elif widget.type == 6 %}
        var colorScale_{{ widget.type }} = chroma.scale(['#d3322b', '#fee42c', '#23964f']).mode('lch').domain([-0.9, 0.9]);
    {% endif %}
</script>

{% with widget.id|stringformat:"s" as widget_id %}
    {% with "top_news_"|add:widget_id as top_news_name %}
        {% get_by_name top_news_name as top_news %}
        <table id="top_news_table_{{ widget_id }}" class="table table-bordered table-hover">
            <thead>
            <tr role="row">
                <th>Дата</th>
                <th>Заголовок</th>
            </tr>
            </thead>
            <tbody>
            {% for key, document in top_news.items %}
                <tr>
                    <td id="datetime_{{ widget_id }}_{{ key }}">
                        <a target="_blank" rel="noopener noreferrer" class="nostyle" href="{% url 'mainapp:document_view' document|get_item:'document'|get_item:'id' %}">
                            <p style="margin: 0;">{{ document|get_item:'document'|get_item:'datetime'|slice:'8:10' }}.{{ document|get_item:'document'|get_item:'datetime'|slice:'5:7' }}.{{ document|get_item:'document'|get_item:'datetime'|slice:'2:4' }}</p>
                            <p style="margin: 0;">{{ document|get_item:'document'|get_item:'datetime'|slice:'11:16' }}</p>
                        </a>
                    </td>
                    <td>
                        <a target="_blank" rel="noopener noreferrer" class="nostyle" href="{% url 'mainapp:document_view' document|get_item:'document'|get_item:'id' %}">
                            {{ document|get_item:'document'|get_item:'title' }}
                        </a>
                    </td>
                </tr>
                <script>
                    {% if document|get_item:widget.criterion.id %}
                        var value = {{ document|get_item:widget.criterion.id|safe }};
                    {% else %}
                        var value = 0;
                    {% endif %}
                    $('#datetime_{{ widget_id }}_{{ key }}').css('background-color', colorScale_{{ widget.type }}(value));
                </script>
            {% endfor %}
            </tbody>
        </table>
    {% endwith %}
{% endwith %}

<!-- DataTables -->
<script src="{% static 'adminlte/plugins/datatables/jquery.dataTables.js' %}"></script>
<script src="{% static 'adminlte/plugins/datatables-bs4/js/dataTables.bootstrap4.js' %}"></script>

<script>
    var data_table_news_{{ widget.id }} = $('#top_news_table_{{ widget.id }}').DataTable({
        "paging": true,
        "lengthChange": false,
        "searching": false,
        "ordering": false,
        "info": false,
        "autoWidth": true,
        "pageLength": 10,
    });
</script>
