{% load custom_stuff %}
{% load dictionary_getter %}
{% load serializers %}

{% with widget.id|stringformat:"s" as widget_id %}
    {% with "monitoring_objects_"|add:widget_id as objects_name %}
        {% get_by_name objects_name as objects %}
        <div id="dynamic_plots">
            <div class="row">
                <div class="col">
                    <div class="dynamics-plot" id="objectsCompare_{{ widget.id }}"></div>
                </div>

                <div class="col">
                    <div style="height: 45px;"></div>
                    {% for object in objects reversed  %}
                        <div class="dynamics-plot" id="dynamics_{{ widget.id }}_{{ object.id }}" style="height: 40px;"></div>
                    {% endfor %}
                </div>

                <script>
                    var layout_{{ widget.id }} = {
                        title: '{% if widget.criterion %}{{ widget.criterion.name }}{% else %}Освещённость{% endif %}',
                        xaxis: {
                            fixedrange: true,
                        },
                        yaxis: {
                            fixedrange: true,
                            type: "category",
                        },
                        height: {{ objects|length|multiply_by_50 }},
                        margin: {
                            l: 150,
                            r: 15,
                            b: 35,
                            t: 45,
                            pad: 5
                        },
                        bargap: 0.25
                    };
                    var data_{{ widget.id }} = [{
                        type: 'bar',
                        x: [{% for object in objects %}{{ object.value|round_fl:5|safe }}, {% endfor %}],
                        y: [{% for object in objects %}'{{ object.name }}', {% endfor %}],
                        orientation: 'h'
                    }];

                    addBreaksAtLength = 20;

                    function testWhite(x) {
                        var white = new RegExp(/^\s$/);
                        return white.test(x.charAt(0));
                    };

                    function wordWrap(str, maxWidth) {
                        var newLineStr = "<br>";
                        done = false;
                        res = '';
                        while (str.length > maxWidth) {
                            found = false;
                            // Inserts new line at first whitespace of the line
                            for (i = maxWidth - 1; i >= 0; i--) {
                                if (testWhite(str.charAt(i))) {
                                    res = res + [str.slice(0, i), newLineStr].join('');
                                    str = str.slice(i + 1);
                                    found = true;
                                    break;
                                }
                            }
                            // Inserts new line at maxWidth position, the word is too long to wrap
                            if (!found) {
                                res += [str.slice(0, maxWidth), newLineStr].join('');
                                str = str.slice(maxWidth);
                            }

                        }

                        return res + str;
                    }

                    textwrapper = function (traces) {
                        for (trace of traces) {
                            trace.y = trace.y.map(text => {
                                return wordWrap(text, addBreaksAtLength)
                            });
                        }
                        return traces;
                    };
                    data_{{ widget.id }} = textwrapper(data_{{ widget.id }});

                    Plotly.newPlot('objectsCompare_{{ widget.id }}', data_{{ widget.id }}, layout_{{ widget.id }}, {
                        responsive: true,
                        displayModeBar: false
                    });
                </script>

                <script>
                    {% for object in objects reversed  %}
                        {% if object.dynamics %}
                            var data_{{ widget.id }}_{{ object.id }} = [
                                {
                                    x: [{% for tick in object.dynamics %}new Date('{{ tick.key_as_string }}'), {% endfor %}],
                                    {% if object.is_criterion %}
                                        y: [{% for tick in object.dynamics %}{{ tick.dynamics_weight.value|round_fl:5|safe }}, {% endfor %}],
                                    {% else %}
                                        y: [{% for tick in object.dynamics %}{{ tick.doc_count|safe }}, {% endfor %}],
                                    {% endif %}
                                    mode: {% if object.dynamics|length_is:1 %}'scatter'{% else %}'lines'{% endif %},
                                }
                            ];

                            var layout_dynamics = {
                                xaxis: {
                                    fixedrange: true,
                                    showgrid: false,
                                    visible: false,
                                },
                                yaxis: {
                                    fixedrange: true,
                                    showgrid: false,
                                    visible: false,
                                },
                                margin: {
                                    l: 0,
                                    r: 0,
                                    b: 0,
                                    t: 0,
                                    pad: 5
                                }
                            };

                            Plotly.newPlot('dynamics_{{ widget.id }}_{{ object.id }}', data_{{ widget.id }}_{{ object.id }}, layout_dynamics, {
                                displayModeBar: false,
                                responsive: true,
                            });
                        {% endif %}
                    {% endfor %}
                </script>
            </div>
        </div>
    {% endwith %}
{% endwith %}
