{% load serializers %}
{% load dictionary_getter %}

{% with widget.id|stringformat:"s" as widget_id %}
    {% with "overall_posneg_"|add:widget_id as overall_posneg_name %}
        {% get_by_name overall_posneg_name as overall_posneg %}
        <div id="bar_plot">
            <div id="posneg_distribution_{{ widget_id }}"></div>
            <script>
                var data = [
                    {
                        x: ["Негатив", "Нейтральные", "Позитив"],
                        y: [{% for bucket in overall_posneg %}{{ bucket }}, {% endfor %}],
                        marker: {
                            color: ['#d3322b', '#fee42c', '#23964f']
                        },
                        type: 'bar'
                    }
                ];
                var layout = {
                    title: '{{ widget.criterion.name }}',
                    showlegend: false,
                    bargap: 0.025,
                    height: 300,
                    margin: {
                        l: 45,
                        r: 15,
                        b: 35,
                        t: 25,
                        pad: 5
                    }
                };
                Plotly.plot('posneg_distribution_{{ widget_id }}', data, layout, {responsive: true, displayModeBar: false});
            </script>
        </div>
    {% endwith %}
{% endwith %}
