{% extends "base.html" %}
{% load widget_tweaks %}
{% load staticfiles %}
{% load cache %}
{% load l10n %}

{% block title %}Дашборд{% endblock %}
{% block heading %}Дашборд{% endblock %}

{% block head %}

{% endblock %}

{% block bc %}
    <li class="breadcrumb-item"><a href="/venv">Media Analytics</a></li>
    <li class="breadcrumb-item active">Дашборд</li>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
{#        <div class="row">#}
{#            <div class="col-lg-3 col-6">#}
{#                <!-- small box -->#}
{#                <div class="small-box bg-info">#}
{#                    <div class="inner">#}
{#                        <h3>150</h3>#}
{##}
{#                        <p>New Orders</p>#}
{#                    </div>#}
{#                    <div class="icon">#}
{#                        <i class="ion ion-bag"></i>#}
{#                    </div>#}
{#                    <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>#}
{#                </div>#}
{#            </div>#}
{#            <!-- ./col -->#}
{#            <div class="col-lg-3 col-6">#}
{#                <!-- small box -->#}
{#                <div class="small-box bg-success">#}
{#                    <div class="inner">#}
{#                        <h3>53<sup style="font-size: 20px">%</sup></h3>#}
{##}
{#                        <p>Bounce Rate</p>#}
{#                    </div>#}
{#                    <div class="icon">#}
{#                        <i class="ion ion-stats-bars"></i>#}
{#                    </div>#}
{#                    <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>#}
{#                </div>#}
{#            </div>#}
{#            <!-- ./col -->#}
{#            <div class="col-lg-3 col-6">#}
{#                <!-- small box -->#}
{#                <div class="small-box bg-warning">#}
{#                    <div class="inner">#}
{#                        <h3>44</h3>#}
{##}
{#                        <p>User Registrations</p>#}
{#                    </div>#}
{#                    <div class="icon">#}
{#                        <i class="ion ion-person-add"></i>#}
{#                    </div>#}
{#                    <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>#}
{#                </div>#}
{#            </div>#}
{#            <!-- ./col -->#}
{#            <div class="col-lg-3 col-6">#}
{#                <!-- small box -->#}
{#                <div class="small-box bg-danger">#}
{#                    <div class="inner">#}
{#                        <h3>65</h3>#}
{##}
{#                        <p>Unique Visitors</p>#}
{#                    </div>#}
{#                    <div class="icon">#}
{#                        <i class="ion ion-pie-graph"></i>#}
{#                    </div>#}
{#                    <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>#}
{#                </div>#}
{#            </div>#}
{#            <!-- ./col -->#}
{#        </div>#}
        <!-- /.row -->

        <!-- Main row -->
        <div class="row">
            <!-- Left col -->
            <section class="col-md-6 connectedSortable">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fas fa-chart-pie mr-1"></i>
                            Widget 1
                        </h3>
                        <!-- card tools -->
                        <div class="card-tools">
                            <button type="button"
                                    class="btn btn-default btn-sm"
                                    data-card-widget="collapse"
                                    data-toggle="tooltip"
                                    title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                        <!-- /.card-tools -->
                    </div><!-- /.card-header -->
                    <div class="card-body">
                        {% include "dashboard/widgets/test1.html" %}
                    </div><!-- /.card-body -->
                    <div class="card-footer">

                    </div>
                </div>
                <!-- /.card -->
            </section>

            <!-- Right col -->
            <section class="col-md-6 connectedSortable">
                <!-- Map card -->
                <div class="card">
                    <div class="card-header border-0">
                        <h3 class="card-title">
                            <i class="fas fa-map-marker-alt mr-1"></i>
                            Widget 2
                        </h3>
                        <!-- card tools -->
                        <div class="card-tools">
                            <button type="button"
                                    class="btn btn-default btn-sm"
                                    data-card-widget="collapse"
                                    data-toggle="tooltip"
                                    title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                        <!-- /.card-tools -->
                    </div>
                    <div class="card-body">
                        {% include "dashboard/widgets/test2.html" %}
                    </div>
                    <!-- /.card-body-->
                    <div class="card-footer">

                    </div>
                </div>
                <!-- /.card -->
            </section>
            <!-- right col -->
        </div>
        <!-- /.row (main row) -->
    </div>
{% endblock %}

{% block foot %}
    <!-- jQuery UI 1.11.4 -->
    <script src="{% static "adminlte/plugins/jquery-ui/jquery-ui.min.js" %}"></script>
    <script>
        // Make the dashboard widgets sortable Using jquery UI
        $('.connectedSortable').sortable({
            placeholder: 'sort-highlight',
            connectWith: '.connectedSortable',
            handle: '.card-header, .nav-tabs',
            forcePlaceholderSize: true,
            zIndex: 999999
        });
        $('.connectedSortable .card-header, .connectedSortable .nav-tabs-custom').css('cursor', 'move');
    </script>
{% endblock %}
